<a href="https://colab.research.google.com/github/Mya-mori/working/blob/main/python/competition/kaggle/H%26M/EDA_for_Beginners.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import os
import cv2
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.image as mpimg

from os import listdir
from termcolor import colored
from pandas.api.types import is_categorical_dtype
from pandas.api.types import is_datetime64_any_dtype as is_datetime

In [26]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:.4f}'.format)

# DATASETS

### articles

In [27]:
articles = pd.read_csv('/content/drive/MyDrive/Kaggle/h-and-m-personalized-fashion-recommendations/data/articles.csv')
print(articles.shape)
articles.head()

(105542, 25)

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,perceived_colour_value_id,perceived_colour_value_name,perceived_colour_master_id,perceived_colour_master_name,department_no,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,4,Dark,5,Black,1676,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,3,Light,9,White,1676,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,1,Dusty Light,9,White,1676,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,4,Dark,5,Black,1339,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,3,Light,9,White,1339,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."

In [28]:
pd.DataFrame([['article_id', '記事のID'],
              ['product_code', '商品のID'],
              ['prod_name', '商品の名前'],
              ['product_type_no', '商品タイプ'],
              ['product_type_name', '商品タイプのID'],
              ['product_group_name', '商品グループの名前'],
              ['graphical_appearance_no', 'グラフィックグループのID'],
              ['graphical_appearance_name', 'グラフィックグループの名前'],
              ['colour_group_code', '色グループのID'],
              ['colour_group_name', '色グループの名前'],
              ['perceived_colour_value_id', '認識される色のID'],
              ['perceived_colour_value_name', '認識される色の名前'],
              ['perceived_colour_master_id', '認識される色のマスターID'],
              ['perceived_colour_master_name', '認識される色のマスター名'],
              ['department_no', '部署のID'],
              ['department_name', '部署の名前'],
              ['index_code', 'インデックスのID'],
              ['index_name', 'インデックスの名前'],
              ['index_group_no', 'インデックスグループのID'],
              ['index_group_name', 'インデックスグループの名前'],
              ['section_no', 'セクションのID'],
              ['section_name', 'セクションの名前'],
              ['garment_group_no', '衣服グループのID'],
              ['garment_group_name', '衣服グループの名前'],
              ['detail_desc', '詳細']],
              columns=['カラム', '意味'])

                             カラム             意味
0                     article_id          記事のID
1                   product_code          商品のID
2                      prod_name          商品の名前
3                product_type_no          商品タイプ
4              product_type_name       商品タイプのID
5             product_group_name      商品グループの名前
6        graphical_appearance_no  グラフィックグループのID
7      graphical_appearance_name  グラフィックグループの名前
8              colour_group_code       色グループのID
9              colour_group_name       色グループの名前
10     perceived_colour_value_id      認識される色のID
11   perceived_colour_value_name      認識される色の名前
12    perceived_colour_master_id  認識される色のマスターID
13  perceived_colour_master_name   認識される色のマスター名
14                 department_no          部署のID
15               department_name          部署の名前
16                    index_code      インデックスのID
17                    index_name      インデックスの名前
18                index_group_no  インデックスグループのID
19              index_group_name  インデックスグループの名前
20                    section_no       セクションのID
21                  section_name       セクションの名前
22              garment_group_no      衣服グループのID
23            garment_group_name      衣服グループの名前
24                   detail_desc             詳細

### Customers

In [29]:
customers = pd.read_csv('/content/drive/MyDrive/Kaggle/h-and-m-personalized-fashion-recommendations/data/customers.csv')
print(customers.shape)
customers.head()

(1371980, 7)

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0000,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25.0000,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24.0000,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,NaN,ACTIVE,NONE,54.0000,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0000,1.0000,ACTIVE,Regularly,52.0000,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...

In [30]:
data = pd.DataFrame(customers.columns, columns=['カラム'])
data['意味'] = ['顧客のID', 'ー', 'アクティブ状況', 'クラブでのステータス', 'H&Mが顧客にニュースを送信する頻度', '年齢', '郵便番号']
data

                      カラム                  意味
0             customer_id               顧客のID
1                      FN                   ー
2                  Active             アクティブ状況
3      club_member_status          クラブでのステータス
4  fashion_news_frequency  H&Mが顧客にニュースを送信する頻度
5                     age                  年齢
6             postal_code                郵便番号

### Transaction_train

In [31]:
transactions = pd.read_csv('/content/drive/MyDrive/Kaggle/h-and-m-personalized-fashion-recommendations/data/transactions_train.csv')
print(transactions.shape)
transactions.head(5)

(31788324, 5)

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.0508,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.0305,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.0152,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.0169,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.0169,2

### Sample_submission

In [32]:
data = pd.DataFrame(transactions.columns, columns=['カラム'])
data['意味'] = ['日付（transaction_date）', '顧客のID（外部キー）　', '記事ID（外部キー）', '購入価格', '販売チャネル']
data

                カラム                    意味
0             t_dat  日付（transaction_date）
1       customer_id          顧客のID（外部キー）
2        article_id            記事ID（外部キー）
3             price                  購入価格
4  sales_channel_id                販売チャネル

In [33]:
sample_submission = pd.read_csv('/content/drive/MyDrive/Kaggle/h-and-m-personalized-fashion-recommendations/data/sample_submission.csv', nrows=10)
sample_submission.head()

,customer_id,prediction
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0706016001 0706016002 0372860001 0610776002 07...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0706016001 0706016002 0372860001 0610776002 07...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0706016001 0706016002 0372860001 0610776002 07...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0706016001 0706016002 0372860001 0610776002 07...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,0706016001 0706016002 0372860001 0610776002 07...

In [34]:
data = pd.DataFrame(sample_submission.columns, columns=['カラム'])
data['意味'] = ['顧客のID', '予測値　']
data

           カラム     意味
0  customer_id  顧客のID
1   prediction   予測値

# Info

### Articles

In [35]:
articles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105542 entries, 0 to 105541
Data columns (total 25 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   article_id                    105542 non-null  int64
 1   product_code                  105542 non-null  int64
 2   prod_name                     105542 non-null  object
 3   product_type_no               105542 non-null  int64
 4   product_type_name             105542 non-null  object
 5   product_group_name            105542 non-null  object
 6   graphical_appearance_no       105542 non-null  int64
 7   graphical_appearance_name     105542 non-null  object
 8   colour_group_code             105542 non-null  int64
 9   colour_group_name             105542 non-null  object
 10  perceived_colour_value_id     105542 non-null  int64
 11  perceived_colour_value_name   105542 non-null  object
 12  perceived_colour_master_id    105542 non-null  int64
 13  perceived_colour_master_name  105542 non-null  object
 14  department_no                 105542 non-null  int64
 15  department_name               105542 non-null  object
 16  index_code                    105542 non-null  object
 17  index_name                    105542 non-null  object
 18  index_group_no                105542 non-null  int64
 19  index_group_name              105542 non-null  object
 20  section_no                    105542 non-null  int64
 21  section_name                  105542 non-null  object
 22  garment_group_no              105542 non-null  int64
 23  garment_group_name            105542 non-null  object
 24  detail_desc                   105126 non-null  object
dtypes: int64(11), object(14)
memory usage: 20.1+ MB

In [36]:
articles.nunique()

article_id                      105542
product_code                     47224
prod_name                        45875
product_type_no                    132
product_type_name                  131
product_group_name                  19
graphical_appearance_no             30
graphical_appearance_name           30
colour_group_code                   50
colour_group_name                   50
perceived_colour_value_id            8
perceived_colour_value_name          8
perceived_colour_master_id          20
perceived_colour_master_name        20
department_no                      299
department_name                    250
index_code                          10
index_name                          10
index_group_no                       5
index_group_name                     5
section_no                          57
section_name                        56
garment_group_no                    21
garment_group_name                  21
detail_desc                      43404
dtype: int64

In [37]:
articles.isnull().sum()

article_id                        0
product_code                      0
prod_name                         0
product_type_no                   0
product_type_name                 0
product_group_name                0
graphical_appearance_no           0
graphical_appearance_name         0
colour_group_code                 0
colour_group_name                 0
perceived_colour_value_id         0
perceived_colour_value_name       0
perceived_colour_master_id        0
perceived_colour_master_name      0
department_no                     0
department_name                   0
index_code                        0
index_name                        0
index_group_no                    0
index_group_name                  0
section_no                        0
section_name                      0
garment_group_no                  0
garment_group_name                0
detail_desc                     416
dtype: int64

### Customers

In [38]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1371980 entries, 0 to 1371979
Data columns (total 7 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   customer_id             1371980 non-null  object
 1   FN                      476930 non-null   float64
 2   Active                  464404 non-null   float64
 3   club_member_status      1365918 non-null  object
 4   fashion_news_frequency  1355971 non-null  object
 5   age                     1356119 non-null  float64
 6   postal_code             1371980 non-null  object
dtypes: float64(3), object(4)
memory usage: 73.3+ MB

In [39]:
customers.nunique()

customer_id               1371980
FN                              1
Active                          1
club_member_status              3
fashion_news_frequency          4
age                            84
postal_code                352899
dtype: int64

In [40]:
customers.isnull().sum()

customer_id                    0
FN                        895050
Active                    907576
club_member_status          6062
fashion_news_frequency     16009
age                        15861
postal_code                    0
dtype: int64

### Transaction_train

In [41]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31788324 entries, 0 to 31788323
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   t_dat             object
 1   customer_id       object
 2   article_id        int64
 3   price             float64
 4   sales_channel_id  int64
dtypes: float64(1), int64(2), object(2)
memory usage: 1.2+ GB

In [42]:
transactions.nunique()

t_dat                   734
customer_id         1362281
article_id           104547
price                  9857
sales_channel_id          2
dtype: int64

In [43]:
transactions.isnull().sum()

t_dat               0
customer_id         0
article_id          0
price               0
sales_channel_id    0
dtype: int64

# EDA

### Articles

In [44]:
articles["index_name"].unique()

array(['Ladieswear', 'Lingeries/Tights', 'Baby Sizes 50-98', 'Menswear',
       'Ladies Accessories', 'Sport', 'Children Sizes 92-140', 'Divided',
       'Children Sizes 134-170', 'Children Accessories, Swimwear'],
      dtype=object)